/* cores-centraliza */
.cor-preta {
    background-color: black;
}

.cor-vermelho-escuro {
    background-color: rgb(177, 2, 2);
}


.cor-vermelha {
    background-color: red;
}
.cor-cinza {
    background-color: rgb(218, 220, 223);
}

.centraliza {
    text-align: center;
}


/* PÁGINA INICIAL  */

img.centraliza {
    margin: 0 auto;
    display: block;
}

div img.logo {
    width: 30%;
}

/* Conteudo do site */

nav button.botão {
    color:black;
    width: 295px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 10px;
    border: 0px;
    font-family:Arial, Helvetica, sans-serif;
}

section img.imgcurso {
    margin: 0 auto;
    display: block;
    width: 50%;
}

/* rodape */

footer section.rod {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mensagem {
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


